/*colors*/
$white: #fff;
$white_fafa: #fff;
$black: #000;
$grey-dark: #333333;
$grey-one: #cccccc;
$grey-999: #999999;
$grey-666: #666666;
$lg_blue_From: #0086e0;
$lg_blue_To: #02d1bf;
$oragne: #fe6426;
$blue5: #0078c8;
$border-ri: #e5e9ec;
$red: #d52627;
$white2: #f6f7fb;
$lightb: #a2acb9;
$lightbb: #dfe4e8;
$google: #d0252a;
$twitter: #57a9e1;
$facebbok: #4386da;
$lightblue: #86919f;
$lightblue1: #eff1f3;
$lightblue2: #d5d8dd;
$lightblue3: #f3f4f6;
$lightblue4: #d3d6db;
$button1: #e6e6e6;
$red1: #e90101;
$yellow: #fea436;
$greenn: #02ac4c;
$bluedarkd: #0077c7;
$green-light1: #00bfb0;
$footer: #f3f3f3;
$bcolr5: #d9dce2;
$bcolr6: #a2a8ba;
$heading: #565656;
$black5: #555555;
$bluelight5: #01c0af;
$appro-light-white: #d1d1d1;
$appro-light-white2: #7c7c7c;
$orange: #fe6a31;
$wh-aprr-1: #f9f9f9;
$blue_appr_parr: #02d0bf;
$red_ma: red;
$light_white: #fafafa;
$light_whiteeee: #eeeeee;
$greay_545454: #545454;
$site_blue: #02c6c4;



$price1: #01a2b9;
$price2: #0078c8;




/*images*/

$money_icon: url(../img/arow_how.png);