.navmain {
    margin-bottom: 0;
    background-color:#fff;
    z-index: 9999999;
}
.postnav {
    @include laptop {
    }
    .navbar-brand  {
        padding: 22px 15px;
        img {
            width: 200px;
        }
    }
    .nav-main-inner {
        @include margin-all(20px, 16px, 20px, 16px);
        li {
            a {
                line-height: 30px;
                color: $white;
               /* @include margin-all(20px, 16px, 20px, 16px);*/
                padding: 3px 15px!important;
                &:hover {
                    background-color: #fe6426!important;
                    color: $white;
                }
                &:focus {
                    background-color: #fe6426!important;
                }
            }
            a.Register {
                margin-right: 10px;
                padding:0 20px;
                height: 30px;
                border: 1px solid $border-ri;
                border-radius: 50px;
                line-height: 24px;
                cursor: pointer;
                &:hover {
                    background: $white;
                    color: $black;
                }
            }
            
            a.Login {
                line-height: 24px;
                padding:0 20px;
                height: 30px;
                color: $white;
                border: 1px solid $oragne;
                border-radius: 50px;
                background: $oragne;
            }
            ul {
                li.segment-drop a {
                    color: #333 !important;
                }
            }
      
        }
        
        .dropdown-menu {
            margin: 19px 0 0;
            padding: 0;
            li {
                a {
                    color: black;
                }
            }
        }
        
        
    }
    
    li.active > a {
          color: #fe6426 !important;
          background-color: transparent !important;
          &:hover, &:focus {
            color: #fe6426;
            background-color: transparent;
          }
        }
    .navbar-brand {
        
        height: auto;
        @include laptop {
        }
    }
    .nav-main-inner {
         @include laptop {
        }
    }
}

.user-profle {
    margin-top: 3px;
    span {
        margin: 0 0 !important;
        color: $white;
        img {
            @include size(30px, 30px);
            border-radius: 50%;
        }
        span {
        }
        
       /* &:focus {
            background-color: transparent !important;
        }*/
       /* &:active {
            background-color: transparent !important;
        }*/
    }
    
    
    .dropdown-menu {
        margin: 19px 0 0 !important;
        li {
            a {
                color: #333 !important;
                margin: 0px 0 !important;
            }
            
        }
    }
    
}

/*a .user_profleaa:focus {
    background-color: transparent !important;
    color: #fff;
}
    
a .user_profleaa:active {
    background-color: transparent !important;
    color: #fff;
}
a .user_profleaa:visited {
    background-color: transparent !important;
    color: #fff;
}
a .user_profleaa:hover {
    background-color: transparent !important;
    color: #fff;
}*/