#myModal1 {
    .modal-dialog {
        width: 1000px;
    }
}
.price-main {
    background: none;
    box-shadow: none;
    .price {
        .price-left {
            width: 27%;
            float: left;
            height: auto;

            .price-left-in {
                 padding: 0% 10% 5%;
            }
            .pricestand {
                @include linear-gradient($price1, $price2);
                background-color: rgb(0,120,200);
                height: auto;
                border-radius: 14px;
                padding: 0 0 10%;
                text-align: center;
                
                .pricestand-in {
                    padding: 10% 0 2%;
                    h4 {
                        text-transform: uppercase;
                    }
                    p {
                        margin-top: 10px;
                    }
                    span {
                        color: #ffeef4;
                        font-size: 25px;
                        font-family: 'Conv_Montserrat-Bold',Sans-Serif;
                    }
                    .line1{
                        width: 50px;
                        height: 2px;
                        background: #80cdde;
                        margin: 0 auto;
                        
                    }
                    button {
                        background: #00e6ff;
                        width: 190px;
                        text-transform: uppercase;
                        height: 38px;
                        border: 0;
                        border-radius: 50px;
                        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2); 
                    }
                }
                
                .price-devider  {
                    height: 2px;
                    width: 100%;
                    float: left;
                    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2); 
                    background: #4ba5c9;
                }
                .pricestand-in-bootm {
                    padding: 4% 0 2%;
                    p {
                        color: #ffeef4;
                    }
                    .line2 {
                        width:60%;
                        background: #4ba2ca;
                    }
                }
            }
            .gold {
                .pricestand-in {}
                height: 420px;
                 h4 {
                     font-size: 30px;
                }
                span {
                    color: #ffea48 !important;
                    font-size: 35px !important;
                }
                button {
                    height: 47px !important;
                    width: 200px !important;
                    background: #ffea48 !important;
                    color: #000 !important;
                }
            }
        }
    }
}

.modal-title {
    color: #000;
    text-align: center;
}

            