.winners-main {
    .winners-main-inner{
        border: 1px solid $appro-light-white;
        @include border-radius(5px);
        @include size(100%, 280px);
        text-align: center;
        padding: 30px 40px;
        img {
            margin: 0 auto;
            display: block;
            width: auto;
            position: absolute;
            top: -50px;
            left: 42%;
        }
        .winning_amout {
            @include size(187px, 48px);
            line-height: 48px;
            background: $orange;
            margin: 0 auto;
            font-size: 23px;
            
        }
        h3 {
            color: $black;
            @include font-size(20);
            margin-bottom: 3px;
        }
        p {
            color: $appro-light-white2;
            margin-bottom: 20px;
        }
        span {
            color: $oragne;
            @include font-size(18);
            margin-bottom: 10px;
            display: block;
        }
        
        .winner_footer {
            p {
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 46px;
                @include font-size(12);
            }
        }
    }
}



.winner-main-listinex {
    padding: 0 !important;
    .winner-main-list {
        background: #ebfaf3;
        @include size(100%, 50px);
        padding: 0 35px;
        p {
            color: $black !important;
            line-height: 50px;
            margin: 0 !important;
            font-size: 17px !important;
        }
    }
}

.winner_data_row {
    
}
.winner_data_row {
    background: $oragne;
    @include size(100%, auto);
    .winner_data {
        padding: 10px;
        @include size(100%, auto);
        border-bottom: 1px solid #ffc1a8;
        overflow: hidden;
         .winner_data_inner {
            float: left;
            height: auto;
            overflow: hidden;
            padding: 11px 0;
            border-right: 1px solid #ffc1a8;
            &:nth-child(1) {
                @include size(26%, auto);
                img {
                    margin:0 auto;
                    display: block;
                }
            }
            &:nth-child(2) {
                @include size(34%, auto);
                 padding: 30px 0;
                
                 ul {
                     line-height: 32px;
                     margin: 0;
                     padding: 0;
                     width: 80%;
                     float: none;
                     margin:0  auto;
                     li {
                        width: 30%;
                        float: left;
                         @include font-size(16);
                     }
                 }
            }

            &:nth-child(3) {
                @include size(40%, auto);
                ul {
                     margin: 0;
                     padding: 0;
                     width: 80%;
                     float: none;
                     margin:0  auto;
                     li {
                        width: auto;
                        float: left;
                         @include font-size(16);
                         .money-price {
                             @include size(90px, 90px);
                             background: $white;
                             @include border-radius(50px);
                             @include font-size(20);
                             color: $black;
                             line-height: 90px;
                             text-align: center;
                             font-weight: bold;
                         }
                         a {
                            @include size(auto, 35px);
                            background: #fe7b46;
                            float: left;
                            color: $white;
                            text-decoration: none;
                            line-height: 35px;
                            @include font-size(13);
                            @include padding-all(0, 20px, 0, 20px);
                            @include margin-all(30px, 0, 30px, 0);
                         }
                         
                         &:last-child {
                             float: right;
                         }
                     }
                 }
            }
             &:last-child {
                 border: 0;
             }
        }
    }
}


.questions_2nd {
    padding: 0;
}
.commetns2 {
    p {
        width: 50%;
        text-align: center !important;
        float: left;
        font-size:20px !important;
        color: $black;
        span {
            display: block;
            color: $grey-666;
        }
    }
}

